{% extends 'demo/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="heading-block main-block">
        <div class="pull-right">
            <select name="weight" id="serving_{{ingredient.NDB_No}}" data-prev="100" class="serving_size">
                <option>Select Serving Size</option>
                <option value="100">100gm</option>
                {% for weight in weights %}
                    <option value="{{weight.Gm_Wgt}}">{{ weight.Msre_Desc }}</option>
                {% endfor %}
            </select>
        </div>
        <h3>{{ ingredient.Shrt_Desc  }}</h3>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>NDB_No</td>
                        <td>{{ ingredient.NDB_No }}</td>
                    </tr>
                    <tr>
                        <td>Shrt_Desc</td>
                        <td>{{ ingredient.Shrt_Desc }}</td>
                    </tr>
                    <tr>
                        <td>Long_Desc</td>
                        <td>{{ ingredient.Long_Desc }}</td>
                    </tr>
                    <tr>
                        <td>ComName</td>
                        <td>{{ ingredient.ComName }}</td>
                    </tr>
                    <tr>
                        <td>ManufacName</td>
                        <td>{{ ingredient.ManufacName }}</td>
                    </tr>
                    <tr>
                        <td>Survey</td>
                        <td>{{ ingredient.Survey }}</td>
                    </tr>
                    <tr>
                        <td>Ref_desc</td>
                        <td>{{ ingredient.Ref_desc }}</td>
                    </tr>
                    <tr>
                        <td>Refuse</td>
                        <td>{{ ingredient.Refuse }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td colspan="2"><strong>Nutrient Detail</strong></td>
                    </tr>
                    {% for nut in  major_nutrients %}
                        <tr>
                            <td>{{ nut.Nutr_No.NutrDesc }} </td>
                            <td id="item_{{ingredient.NDB_No}}_{{nut.Nutr_No.Nutr_No}}">{{ nut.Nutr_Val }} {{nut.Nutr_No.Units}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script  src="{% static 'js/custom.js' %}"></script>
{% endblock %}
